---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../../base/app-template
  - ingressroute.yaml
  - volsync.yaml
patches:
  - path: app.patch.yaml
  - patch: |-
      - op: replace
        path: /metadata/name
        value: prowlarr
    target:
      kind: HelmRelease
      name: .*
