# use nix shell
use nix

# Kubeconfig
export KUBECONFIG=$(expand_path ./hack/main)

# Ceph client
export CEPH_CONF=$(expand_path ./ceph/ceph.conf)
export CEPH_KEYRING=$(expand_path ./ceph/ceph.keyring)
export CEPH_ARGS="--id wayward"

# AWS
export AWS_PROFILE=personal
