# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.vscode
auth
master.key
*.snap
*.rkestate
kubeconfig
gitignore/

# Ansible
provision/ansible
provision/kubeconfig
provision/templates/kube-cilium-manifests.yaml.j2

# Vim
*.swp

# Terraform
.terraform
*.tfstate
vars.tf

# kubeconfigs
hack/main
cert-sync-kubeconfig

# ceph config
./ceph/

# cloud stuff
./cloud/

# talos stuff
talos/main/out
talos/main/pxe
