---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: changedetection-config
  namespace: observability
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: codex-block
