---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ "volsync-unlock-local-" + ENV.VOLNAME }}
  namespace: {{ ENV.NS }}
spec:
  ttlSecondsAfterFinished: 3600
  template:
    spec:
      automountServiceAccountToken: false
      restartPolicy: OnFailure
      containers:
        - name: minio
          image: docker.io/restic/restic:latest
          args: ["unlock", "--remove-all"]
          envFrom:
            - secretRef:
                name: {{ ENV.VOLNAME + "-local-restic" }}
          env:
            - name: RESTIC_CACERT
              value: /customCA/ca.crt
          resources: {}
          volumeMounts:
            - mountPath: /customCA
              name: custom-ca
      volumes:
        - name: custom-ca
          secret:
            defaultMode: 420
            items:
              - key: ca.crt
                path: ca.crt
            secretName: heyjohn-internal-ca
