---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../../base/applications/network-system/external-dns
  - ./secret.enc.yaml
patches:
  - path: patch.externaldns.yaml
  - patch: |-
      - op: replace
        path: /metadata/name
        value: external-dns-opnsense
    target:
      kind: HelmRelease
      name: .*
configMapGenerator:
  - name: alloy-config
    files:
      - ./config.alloy
generatorOptions:
  disableNameSuffixHash: true
