---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - audiobookshelf/ks.yaml
  - lidarr/ks.yaml
  - linkwarden/ks.yaml
  - prowlarr/ks.yaml
  - navidrome/ks.yaml
  - slskd/ks.yaml
  - syncthing/ks.yaml
  - deemix/ks.yaml
