---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - audiobookshelf/ks.yaml
  - lidarr/ks.yaml
  - linkwarden/ks.yaml
  - prowlarr/ks.yaml
  - navidrome/ks.yaml
  - readarr/ks.yaml
  - syncthing/ks.yaml
  - deemix/ks.yaml
# patches:
#   - patch: |-
#       - op: add
#         path: /metadata/namespace
#         value: media
#     target:
#       kind: Secret
#       name: volsync-b2-rclone-secret
