# ---
# apiVersion: "k8s.cni.cncf.io/v1"
# kind: NetworkAttachmentDefinition
# metadata:
#   name: iot-garbage
# spec:
#   config: |-
#     {
#       "cniVersion": "0.3.1",
#       "name": "chains",
#       "plugins": [{
#         "type": "macvlan",
#         "capabilities": {
#           "ips": true,
#           "macs": true
#         },
#         "master": "enp0s31f6.3002",
#         "mode": "bridge",
#         "ipam": {
#           "type": "static",
#           "routes": [
#             {
#               "dst": "192.168.134.0/24",
#               "gw": "192.168.134.1"
#             }
#           ],
#           "gateway": "192.168.134.1"
#         }
#       },
#       {
#         "type":"tuning"
#       }]
#     }
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: iot-garbage
spec:
  config: |-
    {
      "cniVersion": "0.3.1",
      "name": "iot-garbage",
      "plugins": [
        {
          "type": "macvlan",
          "master": "enp0s31f6.3002",
          "mode": "bridge",
          "capabilities": {
            "ips": true
            "macs": true
          },
          "ipam": {
            "type": "dhcp"
          }
        }
      ]
    }
