---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
spec:
  interval: 12h
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    controllers:
      esphome:
        annotations:
          secret.reloader.stakater.com/reload: esphome-secrets,esphome-deploykey

        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"iot-garbage",
                "namespace": "kube-system",
                "mac": "02:0d:1c:2e:64:c5",
                "ips": ["192.168.134.110/24"]
              }]
          securityContext:
            runAsUser: 1656
            runAsGroup: 1656
            fsGroup: 1656
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/bjw-s-labs/esphome
              tag: 2025.2.2@sha256:2864e888c7c4e9997ab6193da9a0616e0cd00e0215866675ffa6b1fc3167241e
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 512Mi
              limits:
                memory: 5Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.108.1@sha256:867b9a9dedd68f1b46e308cad9525e419db7b0ce0c83831f6a350f37ee7ff6fd
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /config/.code-server
              - --extensions-dir
              - /config/.code-server
              - --port
              - "12321"
              - /config
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    ingress:
      esphome:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/hostname: ${INGRESSROUTE_SUBDOMAIN}.${FAMILY_DOMAIN}
          external-dns.alpha.kubernetes.io/target: ${CLUSTER_LB_INGRESS_INTERNAL}
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: auth-system-oauth-auth@kubernetescrd,auth-system-oauth-errors@kubernetescrd
          traefik.ingress.kubernetes.io/router.priority: "10"
        labels: {}
        className: traefik-internal
        hosts:
          - host: ${INGRESSROUTE_SUBDOMAIN}.${FAMILY_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: esphome
                  port: 6052
              - path: /codeserver
                pathType: Prefix
                service:
                  name: esphome
                  port: 12321
        tls:
          - secretName: heyjohn-wildcard-certificate
            hosts:
              - ${INGRESSROUTE_SUBDOMAIN}.${FAMILY_DOMAIN}

    service:
      app:
        controller: esphome
        ports:
          http:
            port: 6052
          code-server:
            port: 12321

    persistence:
      config:
        existingClaim: esphome-config
        advancedMounts:
          esphome:
            app:
              - path: /config
            code-server:
              - path: /config
      secrets:
        type: secret
        name: esphome-secrets
        globalMounts:
          - path: /config/secrets.yaml
            subPath: secrets.yaml
      cache:
        type: emptyDir
        advancedMounts:
          esphome:
            app:
              - path: /cache
      deploy-key:
        type: secret
        name: esphome-deploykey
        defaultMode: 256
        advancedMounts:
          esphome:
            code-server:
              - path: /home/coder/.ssh/id_ed25519
                subPath: id_ed25519
