---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: home-automation
  annotations:
    external-dns/private: "true"
spec:
  endpoints:
    - dnsName: dreame-upstairs.${FAMILY_DOMAIN}
      recordTTL: 300
      recordType: A
      targets:
        - 192.168.134.90
    - dnsName: dreame-downstairs.${FAMILY_DOMAIN}
      recordTTL: 300
      recordType: A
      targets:
        - 192.168.134.89
