---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./bewcloud/ks.yaml
  - ./esphome/ks.yaml
  - ./grocy/ks.yaml
  - ./home-assistant/ks.yaml
  - ./mosquitto/ks.yaml
  - ./ollama/ks.yaml
  - ./open-webui/ks.yaml
  - ./open-notebook/ks.yaml
  - ./paperless/ks.yaml
  - ./zwavejs/ks.yaml
patches:
  - patch: |-
      - op: add
        path: /metadata/namespace
        value: home
    target:
      kind: Secret
      name: volsync-b2-rclone-secret
