---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./frigate/ks.yaml
  - ./home-assistant/ks.yaml
  - ./homepage/ks.yaml
  - ./paperless/ks.yaml
  - ./zigbee2mqtt/ks.yaml
  - ./mosquitto/ks.yaml
  - ./amcrest2mqtt/ks.yaml
  - ./grocy/ks.yaml
patches:
  - patch: |-
      - op: add
        path: /metadata/namespace
        value: home
    target:
      kind: Secret
      name: volsync-b2-rclone-secret
