---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: traefik-chart-source
  namespace: flux-system
spec:
  interval: 30m
  # renovate: datasource=github-releases
  url: https://github.com/traefik/traefik-helm-chart.git
  ref:
    tag: v26.1.0
  ignore: |
    # exclude all
    /*
    # include deploy crds dir
    !/traefik/crds
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: traefik-crds
  namespace: flux-system
spec:
  interval: 15m
  prune: false
  sourceRef:
    kind: GitRepository
    name: traefik-chart-source
  healthChecks:
    - apiVersion: apiextensions.k8s.io/v1beta1
      kind: CustomResourceDefinition
      name: ingressroutes.traefik.containo.us
