models:
  StableDiffusion:
    cmd: llama-server --port 8999 --model /app/.cache/llama.cpp/StableDiffusionVN_Flux_Clip_t5-v1_1-xxl-encoder-Q4_K_S.gguf
    proxy: http://127.0.0.1:8999
  Qwen3-14b:
    cmd: llama-server --port 8998 --model /app/.cache/llama.cpp/MaziyarPanahi_Qwen3-14B-GGUF_Qwen3-14B.Q4_K_M.gguf
    proxy: http://127.0.0.1:8998
  NeuTTS:
    cmd: llama-server --port 8997 --model /app/.cache/llama.cpp/neuphonic_neutts-air_neutss-air-BF16.gguf
    proxy: http://127.0.0.1:8997
  Qwen3-Video:
    cmd: llama-server --port 8996 --model /app/.cache/llama.cpp/prithivMLmods_SAGE-MM-Qwen3-VL-4B-SFT-GGUF_SAGE-MM-Qwen3-VL-4B-SFT.mmproj-Q8_0.gguf
    proxy: http://127.0.0.1:8996
