---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - service-account.yaml
  - dns.yaml
configMapGenerator:
  - name: prometheus-config
    files:
      - prometheus.yaml
generatorOptions:
  disableNameSuffixHash: true
