---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: iot-garbage-apps
spec:
  config: |-
    {
      "cniVersion": "0.3.1",
      "name": "iot-garbage-apps",
      "plugins": [
        {
          "type": "macvlan",
          "master": "eno1",
          "mode": "bridge",
          "capabilities": {
            "ips": true,
            "macs": true
          },
          "ipam": {
            "type": "static",
            "routes": [
              { "dst": "192.168.134.0/24", "gw": "192.168.134.1" }
            ]
          }
        }
      ]
    }
